<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Voting App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-4 mb-3 text-center">Available Polls</h1>
    <ul class="list-group">
        <th:block th:if="${not #lists.isEmpty(polls)}">
            <li th:each="poll : ${polls}" class="list-group-item">
                <h5 th:text="${poll.question}"></h5>
                <div class="row">
                    <div class="col-sm-2 mt-2">
                        <a th:href="@{/poll/{id}(id=${poll.id})}" class="btn btn-success">Submit Vote</a>
                    </div>
                    <div class="col-sm-2 mt-2">
                        <a th:href="@{/poll/{id}/results(id=${poll.id})}" class="btn btn-primary">View Results</a>
                    </div>
                </div>
            </li>
        </th:block>
        <th:block th:if="${#lists.isEmpty(polls)}">
            <li class="list-group-item text-center">No Polls Available</li>
        </th:block>
    </ul>
    <h2 class="mt-4 mb-3 text-center">Create New Poll</h2>
    <form id="mt-4 mb-3" th:action="@{/poll}" method="post">

        <div class="form-group row justify-content-center">
            <label for="question" class="col-sm-2 col-form-label text-right">Question: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="question" name="question" required>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="option" class="col-sm-2 col-form-label text-right">Options: </label>
            <div class="col-sm-6">
                <div id="optionContainer">
                    <input type="text" class="form-control" name="options" required>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-block mt-2" onclick="addOption()">Add Option</button>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-danger btn-block mt-2">Create Poll</button>
            </div>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function addOption() {
        var optionContainer = document.getElementById("optionContainer");
        var input = document.createElement("input");
        input.type = "text";
        input.name = "options";
        input.className = "form-control mt-2";
        input.required = true;
        optionContainer.appendChild(input);
    }
</script>
</body>
</html>